@font-face {
    font-family: 'VC Honey';
    src: url('VCHoney-Regular.woff2') format('woff2'),
        url('VCHoney-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'VC Honey Banner';
    src: url('VCHoney-RegularBanner.woff2') format('woff2'),
        url('VCHoney-RegularBanner.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VC Honey';
    src: url('VCHoney-SemiBold.woff2') format('woff2'),
        url('VCHoney-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VC Honey SemiBold Deck';
    src: url('VCHoney-SemiBoldDeck.woff2') format('woff2'),
        url('VCHoney-SemiBoldDeck.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

